<%- include("partials/header.ejs") %>
<link rel="stylesheet" href="/css/battle.css">
    <% if (caught) {%>
        <section id="modal" class="modal">
            <section class="modal__backdrop">

            </section>
            <section class="modal__content">
                <h2>Wil je <%= ai.name %> een bijnaam geven?</h2>
                <form action="/battle/caught" class="form__nickname" method="post">
                    <input type="hidden" name="pokeId" value="<%= ai.id %>">
                    <input type="text" id="nickname" name="nickname" value="<%= ai.name %>">
                </form>

            </section>
        </section>
    <% } %>
    <section class="app">

        <section class="battle">
            <section class="battle__box--top-left">
                <h2 class="battle__pokemon--top"><%= ai.name %></h2>
                <section class="battle__hpbar--top">
                    <section class="battle__hpbar__fill--top" style=<%- getPercentAndColor(ai.currentHp, ai.hp) %>></section>
                </section>
                <h4 class="battle__pokemon__lvl--top">Lvl. <%= ai.level %></h4>
            </section>
            <section class="battle__box--top-right">
                <img id="ai-pokemon-img" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= ai.id %>.png" alt=""
                    class="battle__pokemon__img--top">
            </section>
            <section class="battle__box--bottom-left">
                <img id="user-pokemon-img" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/<%= user.id %>.png" alt=""
                    class="battle__pokemon__img--bottom">
            </section>
            <section class="battle__box--bottom-right">
                <h2 class="battle__pokemon--bottom"><%= user.name %></h2>
                <section class="battle__hpbar--bottom">
                    <section class="battle__hpbar__fill--bottom" style=<%- getPercentAndColor(user.currentHp, user.hp) %>></section>
                </section>
                <h4 class="battle__pokemon__lvl--bottom">Lvl. <%= user.level %></h4>
                <h4 class="battle__pokemon__hp--bottom"><%= user.currentHp %>/<%= user.hp %></h4>
            </section>
            <section class="battle__bottom-menu">
                <section class="battle-text battle__text-box-left">
                    <p id="battle-log"></p>
                    <span id="blinker" class="blinker hidden">▶</span>
                </section>
                <section class="battle__text-box-right">
                    <section class="battle__options">
                        <form action="/battle/attack" method="POST">
                            <input type="hidden" name="lastLogIndex" value="<%= logLength %>">
                            <button <%= battleOver ? "disabled" : "" %> >
                                <h4 class="battle__options--top-left">Vecht</h4>
                            </button>
                        </form>
                        <form action="/battle/catch" method="POST">
                            <input type="hidden" name="lastLogIndex" value="<%= logLength %>">
                            <button <%= battleOver ? "disabled" : "" %> >
                                <h4 class="battle__options--bottom-left">Vang</h4>
                                <input type="hidden" name="pokeId" value="<%= ai.id %>">
                            </button>
                        </form>

                        <a href="/pokemon?id=<%= ai.id %>">
                            <% if (battleOver) { %>
                                <h4 class="battle__options--bottom-right">Sluit</h4>
                            <% } else {%>
                                <h4 class="battle__options--bottom-right">Ren</h4>
                            <% } %>
                        </a>
                    </section> 

                </section>
            </section>
        </section>
    </section>
    <%- include("partials/battleScript.ejs") %>
</body>

</html>