<%- include("partials/header.ejs") %>
<%- include("partials/nav.ejs") %>
<link rel="stylesheet" href="/FetchEmAll/public/css/pokedex.css">
<section class="title">
    <h1 class="pokedex__title">Pokedex</h1>
</section>

<section class="pokedex">
    <% pokemonList.forEach(poke => { %>
    <a href="/pokemon?id=<%= poke.id %>" class="pokedex__card__link">
        <section class="pokedex__card">
            <section class="pokedex__card__left">
                <h2 class="pokedex__card__left__name">
                    <%= poke.name %>
                </h2>
                <p class="pokedex__card__left__id">
                    <%= poke.id %>
                </p>
                <p class="pokedex__card__left__types">
                    
                    <% poke.types.forEach(type=> { %>
                        <section class="type-<%= type %> type">
                            <%= type %>
                            <img src="../public/assets/icons/<%= type %>.svg" />
                        </section>
                    <%})%>
                    
                </p>
            </section>

            <img src="<%= poke.front_image %>" class="pokedex__card__img--front" alt="<%= poke.name %>">
        </section>
    </a>
    <% }); %>
</section>

<%- include("partials/footer.ejs") %>