<%- include("partials/header.ejs") %>
<%- include("partials/nav.ejs") %>

<h1 class="pokedex__title">Pokedex</h1>
<section class="pokedex">
    <% pokemonList.forEach(poke => { %>
        <section class="pokedex__card">
            <section class="pokedex__card__left">
                <h2 class="pokedex__card__left__name">
                    <%= poke.name %>
                </h2>
                <p class="pokedex__card__left__id">
                    <%= poke.id %>
                </p>
                <p class="pokedex__card__left__types">
                    <%= getTypes(poke.types) %>
                </p>
            </section>

            <img src="<%= poke.front_image %>" class="pokedex__card__img--front" alt="<%= poke.name %>">
        </section>
    <% }); %>
</section>

<%- include("partials/footer.ejs") %>