<%- include("partials/header.ejs") %>
<%- include("partials/nav.ejs") %>
<link rel="stylesheet" href="/css/pokedex.css">
<link rel="stylesheet" href="/FetchEmAll/public/css/pokedex.css">


<section class="pokedex">
    <% pokemonList.forEach(poke => { %>
    <a href="/pokemon?id=<%= poke.id %>" class="pokedex__card__link">
        <section class="pokedex__card">
            <section class="pokedex__card__left">
                <h2 class="pokedex__card__left__name">
                    <%= poke.name %>
                </h2>
                <p class="pokedex__card__left__id">
                    <%= formatId(poke.id) %>
                </p>
                <% poke.types.forEach(type => { %>
                    <section class="pokedex__card__left__types" data-tooltip="<%= type.charAt(0).toUpperCase() + type.slice(1) %>">
                        <img src="/assets/icons/<%= type %>.svg" width="30px" alt="<%= type %> type icon" />
                    </section>
                <% }); %>                
                </p>
            </section>

            <img src="<%= poke.front_image %>" class="pokedex__card__img--front" alt="<%= poke.name %>">
        </section>
    </a>
    <% }); %>
</section>

<%- include("partials/footer.ejs") %>