<%- include("partials/header.ejs") %>
<%- include("partials/nav.ejs") %>

    <h1 class="wtp__title">Who's That Pokemon</h1>
    <p><%= pokemonNames[31] %></p>
    <section class="wtp">

        <img src="<%= pokemonList[rndmPokeId()].front_image %>" alt="<%=  %>" class="wtp__image" id="wtp__image">

        <form autocomplete="off" action="" class="wtp__form">
            <div class="wtp__form__input__container" style="width:300px;">
              <input id="wtp__form__input__field" type="text" name="myPokemon" placeholder="Pokemon">
            </div>
            <button type="button" id="wtp__form__reveal" class="wtp__form__submit">Submit</button>   
        </form>

    </section>


<%- include("partials/autoComplete") %>