<%- include("partials/header.ejs") %>
<%- include("partials/nav.ejs") %>

<link rel="stylesheet" href="/css/wtp.css">

<section class="wtp">
    <% if (answer.correct) { %>
        <img src="<%= poke.front_image %>" alt="<%=  %>" class="wtp__image" id="wtp__image" draggable="false" style="filter: brightness(100%);"> 
        <p class="wtp__p"><%= answer.response %></p>
    <% } else if(answer.response != "Correct! You guessed the right pokemon.") { %>
        <img src="<%= poke.front_image %>" alt="<%=  %>" class="wtp__image" id="wtp__image" draggable="false">
        <p class="wtp_p"><%= answer.response %></p>
    <% } %>
    <section class="wtp_buttons">
        <form autocomplete="off" action="" method="post" class="wtp__form">
            <% if (answer.correct) { %>
                    <a href="wtp"><button type="button" class="next">Next</button></a>
            <% } else { %> 
                <button type="submit" id="reveal" name="post" value="post" class="submit">SUBMIT</button>
                <a href="/wtp"><button type="button" class="skip">SKIP</button></a>
                <div class="input__container">
                    <input id="input__field" type="text" name="guess" placeholder="Pokemon">
                </div>
            <% } %>
        </form>
        
    </section>

</section>

<%- include("partials/footer") %>