<%- include("partials/header.ejs") %>
<%- include("partials/nav.ejs") %>

<h1 class="wtp__title">Who's That Pokemon</h1>
<section class="wtp">
    <img src="<%= poke.front_image %>" alt="<%=  %>" class="wtp__image" id="wtp__image" draggable="false">
    <form autocomplete="off" action="" method="post" class="wtp__form">
        <div class="input__container" style="width:300px;">
            <input id="input__field" type="text" name="guess" placeholder="Pokemon">
            <!-- 
            <div id="autocomplete__list" class="autocomplete__item">
                <div><strong>pid</strong>gey<input type="hidden" value="pidgey"></div>
                <div class="autocomplete__item--active"><strong>pid</strong>geotto<input type="hidden" value="pidgeotto"></div>
                <div><strong>pid</strong>geot<input type="hidden" value="pidgeot"></div>
            </div>
                -->
        </div>
        <button type="submit" id="reveal" name="post" value="post" class="submit">Submit</button>   
    </form>
</section>

<%- include("partials/autoComplete") %>